In [10]:
import pandas as pd
from langdetect import detect
import glob

In [41]:
df=pd.read_csv('./tweet_text_karabakh.csv')

In [42]:
df.head()

                    id lang                                               text
0  1309386738058571776   en  #PMIKOnceMoreAtUNGA President Erdogan has once...
1  1310149718509580293   en  üá¨üá∑üá¶üá≤ We are Brothers, against our common enemy...
2  1310176513082482689   en  @jul105 You are 90 years kill more Women and c...
3  1311183944222756864   en  You can help #Artsakh by sending money to  @Ar...
4  1311210278130978816   en  @KimKardashian Thank you so much,Kim! ‚ù§Ô∏èüíôüß° #’Ä‘±...

In [43]:
df = df.sample(frac=1).reset_index(drop=True)

In [44]:
df["Informativeness"]=0

In [45]:
df.head()

,id,lang,text,Informativeness
0,1320973229423427586,en,Pashinyan implements genocide against #Armenia...,0
1,1310913600400297986,en,The enemy‚Äôs helicopter destruction. [Defence A...,0
2,1322982119526846464,en,Right now #Azerbaijan is burning down forests ...,0
3,1318599799537618945,en,@KhalilovEtibar @NikolPashinyan Only Armenians...,0
4,1310895599718461441,en,@SadhguruJV üá¶üá≤ Facing serious problems in #Art...,0

In [46]:
df.to_csv('./tweet_text_shuffled.csv')

In [12]:
len(df)

259889

In [30]:
shuffled = pd.read_csv('./tweet_text_shuffled.csv')

In [36]:
shuffled = shuffled[shuffled["lang"]=='en']

In [37]:
shuffled

,Unnamed: 0,id,lang,text,Informativeness
0,0,821881702133862400,en,@GRUBBZ_415 @AntonioBrown well one of em. At l...,0
1,1,1244072467770949640,en,@CNN Yup embolden the military then begin to d...,0
2,2,933749385988632576,en,"""As Americans, we have many things for which t...",0
3,3,409714328141848577,en,"""I find that the harder I work, the more luck ...",0
4,4,1109913014587793408,en,Any chance that after the #RussiaCollusionHoax...,0
...,...,...,...,...,...
259880,259880,870293764274757632,en,Well... that was unexpected ü§îü§îü§î üò≠üò≠üò≠ https://t...,0
259882,259882,391363584359288832,en,Here we go! 24 hour design blitz for good! T...,0
259883,259883,1255657263194398720,en,"@dbongino Thats just some scary shit, that the...",0
259886,259886,712799685321367554,en,Download this app for free get answers to comm...,0
259888,259888,1115369331649544192,en,British Women‚Äôs Comment On Facebook Could Mean...,0

In [38]:
# shuffled.to_csv('./tweet_text_shuffled.csv')

In [40]:
shuffled.Informativeness.value_counts()

0    188754
1        14
Name: Informativeness, dtype: int64

In [12]:
main_df=pd.read_csv('./karabakh_tweet_text_shuffled_500.csv')

In [13]:
main_df.head()

,id,text,Informativeness
0,1320973229423427586,Pashinyan implements genocide against #Armenia...,0
1,1310913600400297986,The enemy‚Äôs helicopter destruction. [Defence A...,0
2,1322982119526846464,Right now #Azerbaijan is burning down forests ...,0
3,1318599799537618945,@KhalilovEtibar @NikolPashinyan Only Armenians...,0
4,1310895599718461441,@SadhguruJV üá¶üá≤ Facing serious problems in #Art...,1

In [14]:
type(main_df.loc[0].text)

str

In [15]:
main_df=main_df[["id","Informativeness","text"]]

In [16]:
main_df=main_df[:500]

In [17]:
### Keep only english tweets

def is_english(text):

    try:
          language = detect(text)
    except:
          #These will be removed
          print("This row throws and error:", text)
          return False;
    if(language=='en'):
      return True;
    else:
      return False;

main_df=main_df[main_df.apply(lambda x: is_english(x['text']), axis=1)]

In [18]:
main_df_annotated = main_df[:500]

In [9]:
main_df_annotated.to_pickle("./../dataset7Cleaned.pkl")

In [3]:
main_df=pd.read_pickle("./../dataset7Cleaned.pkl")

In [19]:
from sentistrength import PySentiStr
senti = PySentiStr()
senti.setSentiStrengthPath('/Users/gerald/Workspaces/MA3/Semester Project/sula_master/SentiStrenght_files/SentiStrength.jar') # Note: Provide absolute path instead of relative path
senti.setSentiStrengthLanguageFolderPath('/Users/gerald/Workspaces/MA3/Semester Project/sula_master/SentiStrenght_files/SentStrength_Data_Sept2011/')
result = senti.getSentiment('stupid idiot', score='dual')
print(result)

def get_sentiment_score(x):
    result = senti.getSentiment(x["text"], score='dual')[0]
    x["positive_score"]=result[0]
    x["negative_score"]=result[1]
    x["emotional_devergence_score"]=(result[0]-result[1])/10.0
    
    return x

[(1, -3)]

In [20]:
from tqdm import tqdm
tqdm.pandas()
main_df = main_df.progress_apply(get_sentiment_score, axis=1)
main_df.to_pickle("./../dataset7Cleaned.pkl")

/opt/anaconda3/lib/python3.7/site-packages/tqdm/std.py:701: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 489/489 [03:21<00:00,  2.43it/s]

In [ ]:
main_df.head()