In [4]:
import pandas as pd
from langdetect import detect
import tweepy

In [30]:
main_df=pd.read_table("./dataset3.tsv")

In [31]:
main_df.head()

                    id  label
0  1006567084833329152      0
1   948268958054080512      1
2           1386191114      0
3   942069796765683713      0
4   942151866380582912      0

In [32]:
# Authenticate to Twitter
auth = tweepy.OAuthHandler("ZbcylrnqHEgkBqwKaiTYgYNL0",
    "EpBfljAfXaG4V9isnXLRQWk1fAL8pZ5iZnyKX4yfUxHmeFuErQ")
auth.set_access_token("1276163142087827460-mYhybK15AhqqKOzTUM4xBGMT8mNOqN",
    "vku1KbNkhQmSVUQPrVj6ReMhnLTsJlsNuJRwyg6DgZAFH")

api = tweepy.API(auth,wait_on_rate_limit=True,
    wait_on_rate_limit_notify=True)

try:
    api.verify_credentials()
    print("Authentication OK")
except:
    print("Error during authentication")

Authentication OK

In [33]:
def get_tweet_text(tweet_id):
    try:
        tweet = api.get_status(id=tweet_id)
    except Exception as e:
        print(e)
        print("Error with tweet:{} ".format(tweet_id))
        return ""
    return tweet

In [34]:
main_df['APIdata'] = main_df[:20].apply (lambda row: get_tweet_text(row.id), axis=1)
main_dfBackup=main_df

In [39]:
main_dfBackup

'Off we go #NintendoE3 https://t.co/WtBVsQlDcK'

In [18]:
main_df= main_df[main_df["text"]!=""]

In [25]:
main_df.text[:30]

0         Off we go #NintendoE3 https://t.co/WtBVsQlDcK
1     Maryland high school student Liza Goldberg has...
2     Doing some research into 'the internet of thin...
3     Thank you everyone for the amazing #AGU17! Poe...
4     #agu17 - where you think the meeting is over a...
5                   It's happening! #NintendoE3 #E32018
6     Visitors ‘screened for Ebola’ - News - http://...
7     MT @NHC_Atlantic A Hurricane Hunter plane find...
8            All the same love kills faster than ebola.
9     It looks like #Harvey is making a comeback. ht...
10    UPI World News: Hurricane Irma expected to bul...
11    This powerful short film highlights the stigma...
12    No immediate threat from Hurricane Irma\n\nhtt...
13    Hurricane Irma path LIVE UPDATES as CATEGORY 3...
14            Mechs? I'm in.\n\n#NintendoE3 #E3 #E32018
15    #PrayForStockholm pray for Syria too. Hundreds...
16    Thanks @theAGU for a great conference. It was ...
17    @weatherbell Is distribution of your Online ch...
18    #Harvey degenerates to a tropical wave - GFS a...
19    BBC News - @Italy drive-by attack targets immi...
20    We had a nice time at #AGU17 last week. Thanks...
21    Hurricane Irma heading across Atlantic Ocean t...
22    More brilliant inspiration to help us envision...
23    Oh great, now I can't feel safe in my own coun...
24    Looks like I missed the latest Harry Potter in...
25    Harris: Rolling out 'the Internet of things' (...
26    Latest 0Z Calibrated GFS Ensembles bullish on ...
27    I wish @narendramodi had followed back and rep...
28    Morning Report- Houston begins recovery, Hurri...
29    Police arrested a man suspected of opening fir...
Name: text, dtype: object

In [27]:
main_df=main_df.text.apply(lambda x: x.split("\n"))

In [28]:
main_df.text[:30]

AttributeError: 'Series' object has no attribute 'text'

In [29]:
main_df

0         [Off we go #NintendoE3 https://t.co/WtBVsQlDcK]
1       [Maryland high school student Liza Goldberg ha...
2       [Doing some research into 'the internet of thi...
3       [Thank you everyone for the amazing #AGU17! Po...
4       [#agu17 - where you think the meeting is over ...
                              ...
2986    [@alexislloyd The Internet of Things in 2020 -...
2987    [#GoodParticipatoryPractice has become a centr...
2989        [MECHAS AND METAL!!! #E3 #E32018 #NintendoE3]
2990    [Over 100,000 steps for science, diversity (pa...
2991    [Irma’s power levels off, but not expected to ...
Name: text, Length: 2731, dtype: object