In [40]:
import pandas as pd
from langdetect import detect
import glob

In [41]:
part1= pd.read_table("./train.tsv")
part2= pd.read_table("./valid.tsv",header=None)
part2.columns=part1.columns

In [42]:
part1.head()

,Id,Text,Label
0,1241490299215634434,Official death toll from #covid19 in the Unite...,INFORMATIVE
1,1245916400981381130,"Dearest Mr. President @USER 1,169 coronavirus ...",INFORMATIVE
2,1241132432402849793,Latest Updates March 20 ‚ö†Ô∏è5274 new cases and 3...,INFORMATIVE
3,1236107253666607104,ÁúüÊääÂÖ¨‰∏ª‰∏çÂΩìÂπ≤ÈÉ® BREAKING: 21 people on Grand Princess...,INFORMATIVE
4,1239673817552879619,OKLAHOMA CITY ‚Äî The State Department of Educat...,UNINFORMATIVE

In [43]:
part2.head()

,Id,Text,Label
0,1241728922192142336,For those saying Pakistan isn‚Äôt Italy; After 3...,UNINFORMATIVE
1,1235713405992030209,Second case DR üá©üá¥ The Canadian woman has not b...,INFORMATIVE
2,1245941302367305728,Kill Chain: the cyber war on America's electio...,UNINFORMATIVE
3,1245913002840391681,Town hosts FIRST #Virtual #TownCouncil meeting...,UNINFORMATIVE
4,1240543259299987457,Report suggested that the actual number of und...,UNINFORMATIVE

In [44]:
main_df=pd.concat([part1,part2])

In [47]:
main_df=main_df.drop(columns=["Id"])
main_df=main_df.drop_duplicates()
len(main_df)

7928

In [48]:
main_df

                                                  Text          Label
0    Official death toll from #covid19 in the Unite...    INFORMATIVE
1    Dearest Mr. President @USER 1,169 coronavirus ...    INFORMATIVE
2    Latest Updates March 20 ‚ö†Ô∏è5274 new cases and 3...    INFORMATIVE
3    ÁúüÊääÂÖ¨‰∏ª‰∏çÂΩìÂπ≤ÈÉ® BREAKING: 21 people on Grand Princess...    INFORMATIVE
4    OKLAHOMA CITY ‚Äî The State Department of Educat...  UNINFORMATIVE
..                                                 ...            ...
995  Coronavirus took hold in UK earlier than thoug...  UNINFORMATIVE
996  I talked with a man who is Rowan County‚Äôs seco...    INFORMATIVE
997  Governor Wolf delaying enforcement of non-life...  UNINFORMATIVE
998  The Sheriff's Department has reduced the jail ...  UNINFORMATIVE
999  BREAKING NEWS: 2 possible cases of #COVID„Éº19 i...    INFORMATIVE

[7928 rows x 2 columns]

In [49]:
### Keep only english tweets

def is_english(text):

    try:
          language = detect(text)
    except:
          #These will be removed
          print("This row throws and error:", text)
          return False;
    if(language=='en'):
      return True;
    else:
      return False;

main_df=main_df[main_df.apply(lambda x: is_english(x['Text']), axis=1)]
len(main_df)

7927

In [53]:
main_df=main_df[["Label","Text"]]

In [54]:
main_df

             Label                                               Text
0      INFORMATIVE  Official death toll from #covid19 in the Unite...
1      INFORMATIVE  Dearest Mr. President @USER 1,169 coronavirus ...
2      INFORMATIVE  Latest Updates March 20 ‚ö†Ô∏è5274 new cases and 3...
3      INFORMATIVE  ÁúüÊääÂÖ¨‰∏ª‰∏çÂΩìÂπ≤ÈÉ® BREAKING: 21 people on Grand Princess...
4    UNINFORMATIVE  OKLAHOMA CITY ‚Äî The State Department of Educat...
..             ...                                                ...
995  UNINFORMATIVE  Coronavirus took hold in UK earlier than thoug...
996    INFORMATIVE  I talked with a man who is Rowan County‚Äôs seco...
997  UNINFORMATIVE  Governor Wolf delaying enforcement of non-life...
998  UNINFORMATIVE  The Sheriff's Department has reduced the jail ...
999    INFORMATIVE  BREAKING NEWS: 2 possible cases of #COVID„Éº19 i...

[7927 rows x 2 columns]

In [55]:
main_df.columns=["Informativeness","text"]

In [56]:
main_df['Informativeness']=main_df['Informativeness'].map(lambda x: 1 if(x=='INFORMATIVE') else 0)

In [57]:
main_df.Informativeness.value_counts()

0    4185
1    3742
Name: Informativeness, dtype: int64

In [58]:
main_df.to_pickle("./../dataset4Cleaned.pkl")