In [1]:
import pandas as pd
from langdetect import detect

In [2]:
main_df = pd.read_pickle("./datasetCrisisLexT26_no_extra.pkl")

In [18]:
main_df.head()

,Information Source,Information Type,Informativeness,orig_id,annotated_id,text,event,user_id,created_at,retweet_count,...,user_tweet_count,user_friend_count,user_description,default_profile_image,is_verified_user,user_location,user_join_date,user_url,reply_to_user,reply_to_tweet
0,Not labeled,Not labeled,Not related,211040709124440064,211040709124440064,#Intern #US #TATTOO #Wisconsin #Ohio #NC #PA #...,2012_Colorado_wildfires,601864285,2012-06-08T10:23:20.000Z,0,...,402,19,Traveling http://goo.gl/97yT2,True,False,None,Thu Jun 07 13:14:27 +0000 2012,None,NaN,NaN
1,Not labeled,Not labeled,Not related,210864180218167296,211111710294163457,Get in on the fun every Thursday with the @csi...,2012_Colorado_wildfires,245545247,2012-06-07T22:41:52.000Z,2,...,3327,35,Director of Marketing & Promotions for the Col...,False,False,"Coloado Springs, CO",Mon Jan 31 23:05:46 +0000 2011,http://www.csindy.com/colorado/Home,NaN,NaN
2,Not labeled,Not labeled,Not related,211157222699433985,211157222699433985,Welcome to our newest STUDENTathlete- Reagan B...,2012_Colorado_wildfires,487854217,2012-06-08T18:06:19.000Z,0,...,268,2,,True,False,,Thu Feb 09 20:26:05 +0000 2012,None,NaN,NaN
3,Not labeled,Not labeled,Not related,211162553659830272,211162553659830272,Denver Post: #Colorado governor signs bill cre...,2012_Colorado_wildfires,17602802,2012-06-08T18:27:30.000Z,0,...,4392,188,The Reporters Committee for Freedom of the Pre...,False,False,"Arlington, VA",Mon Nov 24 22:14:23 +0000 2008,http://www.rcfp.org,NaN,NaN
4,Not labeled,Not labeled,Not related,211216962162933761,211216962162933761,Pretty sure I'm going to live in Manitou Sprin...,2012_Colorado_wildfires,348495572,2012-06-08T22:03:42.000Z,0,...,3687,203,"free-spirited, ever thinking, world citizen",False,False,"Chillwater, OK",Thu Aug 04 14:41:31 +0000 2011,None,NaN,NaN

In [19]:
main_df["Informative_1_0"]=main_df["Informativeness"].apply(lambda x:1 if(x=='Related and informative' ) else 0 )

In [39]:
per_event=main_df.groupby(by=['event','Informative_1_0',]).size()

In [40]:
per_event

event                          Informative_1_0
2012_Colorado_wildfires        0                  497
                               1                  674
2012_Costa_Rica_earthquake     0                  606
                               1                  625
2012_Guatemala_earthquake      0                  257
                               1                  675
2012_Italy_earthquakes         0                  347
                               1                  593
2012_Philipinnes_floods        0                  200
                               1                  681
2012_Typhoon_Pablo             0                  305
                               1                  645
2012_Venezuela_refinery        0                  438
                               1                  527
2013_Alberta_floods            0                  297
                               1                  663
2013_Australia_bushfire        0                  405
                               1                  669
2013_Bohol_earthquake          0                  493
                               1                  397
2013_Boston_bombings           0                  573
                               1                  398
2013_Brazil_nightclub_fire     0                  408
                               1                  402
2013_Colorado_floods           0                  220
                               1                  734
2013_Glasgow_helicopter_crash  0                  416
                               1                  501
2013_LA_airport_shootings      0                  314
                               1                  628
2013_Lac_Megantic_train_crash  0                  405
                               1                  495
2013_Manila_floods             0                  353
                               1                  568
2013_NY_train_crash            0                   89
                               1                  759
2013_Queensland_floods         0                  464
                               1                  685
2013_Russia_meteor             0                  733
                               1                  528
2013_Sardinia_floods           0                  348
                               1                  549
2013_Savar_building_collapse   0                  400
                               1                  794
2013_Singapore_haze            0                  428
                               1                  347
2013_Spain_train_crash         0                  190
                               1                  656
2013_Typhoon_Yolanda           0                  269
                               1                  675
2013_West_Texas_explosion      0                  478
                               1                  446
dtype: int64

In [33]:
per_event=per_event.to_frame()

In [38]:
per_event.reset_index()

                            event  Informative_1_0    0
0         2012_Colorado_wildfires                0  497
1         2012_Colorado_wildfires                1  674
2      2012_Costa_Rica_earthquake                0  606
3      2012_Costa_Rica_earthquake                1  625
4       2012_Guatemala_earthquake                0  257
5       2012_Guatemala_earthquake                1  675
6          2012_Italy_earthquakes                0  347
7          2012_Italy_earthquakes                1  593
8         2012_Philipinnes_floods                0  200
9         2012_Philipinnes_floods                1  681
10             2012_Typhoon_Pablo                0  305
11             2012_Typhoon_Pablo                1  645
12        2012_Venezuela_refinery                0  438
13        2012_Venezuela_refinery                1  527
14            2013_Alberta_floods                0  297
15            2013_Alberta_floods                1  663
16        2013_Australia_bushfire                0  405
17        2013_Australia_bushfire                1  669
18          2013_Bohol_earthquake                0  493
19          2013_Bohol_earthquake                1  397
20           2013_Boston_bombings                0  573
21           2013_Boston_bombings                1  398
22     2013_Brazil_nightclub_fire                0  408
23     2013_Brazil_nightclub_fire                1  402
24           2013_Colorado_floods                0  220
25           2013_Colorado_floods                1  734
26  2013_Glasgow_helicopter_crash                0  416
27  2013_Glasgow_helicopter_crash                1  501
28      2013_LA_airport_shootings                0  314
29      2013_LA_airport_shootings                1  628
30  2013_Lac_Megantic_train_crash                0  405
31  2013_Lac_Megantic_train_crash                1  495
32             2013_Manila_floods                0  353
33             2013_Manila_floods                1  568
34            2013_NY_train_crash                0   89
35            2013_NY_train_crash                1  759
36         2013_Queensland_floods                0  464
37         2013_Queensland_floods                1  685
38             2013_Russia_meteor                0  733
39             2013_Russia_meteor                1  528
40           2013_Sardinia_floods                0  348
41           2013_Sardinia_floods                1  549
42   2013_Savar_building_collapse                0  400
43   2013_Savar_building_collapse                1  794
44            2013_Singapore_haze                0  428
45            2013_Singapore_haze                1  347
46         2013_Spain_train_crash                0  190
47         2013_Spain_train_crash                1  656
48           2013_Typhoon_Yolanda                0  269
49           2013_Typhoon_Yolanda                1  675
50      2013_West_Texas_explosion                0  478
51      2013_West_Texas_explosion                1  446

### Remove all features except the text, and make labels only relevant/not relevant

In [17]:
main_df.drop(main_df.columns.difference(['Informativeness','text']), 1, inplace=True)
main_df['Informativeness']=main_df['Informativeness'].map(lambda x: 1 if(x=='Related and informative' ) else 0)
# main_df['Informativeness']=main_df['Informativeness'].map(lambda x: 1 if(x=='Related and informative' or x=='Related - but not informative') else 0)

In [18]:
main_df['Informativeness'].value_counts()

1    15314
0     9933
Name: Informativeness, dtype: int64

In [19]:
main_df.drop_duplicates(inplace=True)

In [20]:
main_df['Informativeness'].value_counts()

1    15193
0     9895
Name: Informativeness, dtype: int64

In [21]:
len(main_df)

25088

### Keep only english tweets

In [22]:
def is_english(text):

    try:
          language = detect(text)
    except:
          #These will be removed
          print("This row throws and error:", text)
          return False;
    if(language=='en'):
      return True;
    else:
      return False;

In [23]:
main_df=main_df[main_df.apply(lambda x: is_english(x['text']), axis=1)]

In [26]:
len(main_df)

18028

In [27]:
main_df.to_pickle("./../dataset1Cleaned.pkl")