In [1]:
import pandas as pd
from langdetect import detect

In [2]:
main_df = pd.read_pickle("./datasetCrisisLexT26_no_extra.pkl")

In [3]:
main_df.head()

,Information Source,Information Type,Informativeness,orig_id,annotated_id,text,event,user_id,created_at,retweet_count,...,user_tweet_count,user_friend_count,user_description,default_profile_image,is_verified_user,user_location,user_join_date,user_url,reply_to_user,reply_to_tweet
0,Not labeled,Not labeled,Not related,211040709124440064,211040709124440064,#Intern #US #TATTOO #Wisconsin #Ohio #NC #PA #...,2012_Colorado_wildfires,601864285,2012-06-08T10:23:20.000Z,0,...,402,19,Traveling http://goo.gl/97yT2,True,False,None,Thu Jun 07 13:14:27 +0000 2012,None,NaN,NaN
1,Not labeled,Not labeled,Not related,210864180218167296,211111710294163457,Get in on the fun every Thursday with the @csi...,2012_Colorado_wildfires,245545247,2012-06-07T22:41:52.000Z,2,...,3327,35,Director of Marketing & Promotions for the Col...,False,False,"Coloado Springs, CO",Mon Jan 31 23:05:46 +0000 2011,http://www.csindy.com/colorado/Home,NaN,NaN
2,Not labeled,Not labeled,Not related,211157222699433985,211157222699433985,Welcome to our newest STUDENTathlete- Reagan B...,2012_Colorado_wildfires,487854217,2012-06-08T18:06:19.000Z,0,...,268,2,,True,False,,Thu Feb 09 20:26:05 +0000 2012,None,NaN,NaN
3,Not labeled,Not labeled,Not related,211162553659830272,211162553659830272,Denver Post: #Colorado governor signs bill cre...,2012_Colorado_wildfires,17602802,2012-06-08T18:27:30.000Z,0,...,4392,188,The Reporters Committee for Freedom of the Pre...,False,False,"Arlington, VA",Mon Nov 24 22:14:23 +0000 2008,http://www.rcfp.org,NaN,NaN
4,Not labeled,Not labeled,Not related,211216962162933761,211216962162933761,Pretty sure I'm going to live in Manitou Sprin...,2012_Colorado_wildfires,348495572,2012-06-08T22:03:42.000Z,0,...,3687,203,"free-spirited, ever thinking, world citizen",False,False,"Chillwater, OK",Thu Aug 04 14:41:31 +0000 2011,None,NaN,NaN

In [4]:
main_df.groupby(by="event")

In [16]:
main_df["Informativeness"].value_counts()

Related and informative          15314
Related - but not informative     6857
Not related                       2619
Not applicable                     457
Name: Informativeness, dtype: int64

### Remove all features except the text, and make labels only relevant/not relevant

In [17]:
main_df.drop(main_df.columns.difference(['Informativeness','text']), 1, inplace=True)
main_df['Informativeness']=main_df['Informativeness'].map(lambda x: 1 if(x=='Related and informative' ) else 0)
# main_df['Informativeness']=main_df['Informativeness'].map(lambda x: 1 if(x=='Related and informative' or x=='Related - but not informative') else 0)

In [18]:
main_df['Informativeness'].value_counts()

1    15314
0     9933
Name: Informativeness, dtype: int64

In [19]:
main_df.drop_duplicates(inplace=True)

In [20]:
main_df['Informativeness'].value_counts()

1    15193
0     9895
Name: Informativeness, dtype: int64

In [21]:
len(main_df)

25088

### Keep only english tweets

In [22]:
def is_english(text):

    try:
          language = detect(text)
    except:
          #These will be removed
          print("This row throws and error:", text)
          return False;
    if(language=='en'):
      return True;
    else:
      return False;

In [23]:
main_df=main_df[main_df.apply(lambda x: is_english(x['text']), axis=1)]

In [26]:
len(main_df)

18028

In [27]:
main_df.to_pickle("./../dataset1Cleaned.pkl")