In [1]:
import pandas as pd
from langdetect import detect
import glob

In [3]:
main_df= pd.read_csv("./data.csv")
main_df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,nil,text_no_rt,tweet,user
0,221934923,True,golden,3,11/13/2012 02:06:24,Personal Only,1.000,Personal Only,NaN,......................Ã¤Ã³Ã¬@Brains_x_Beauty: ...,RT @TheHolyKaron: ......................Ã¤Ã³Ã¬...,____DatPMF
1,221934924,True,golden,2,11/13/2012 02:16:03,Informative (Indirect),0.515,Informative (Indirect),NaN,At least 39 dead millions without power in San...,At least 39 dead millions without power in San...,_3091004140882
2,221934925,True,golden,2,11/13/2012 02:06:50,Personal Only,1.000,Personal Only,NaN,Clearly no one wants to look good for sandy la...,Clearly no one wants to look good for sandy la...,_JordanDawn_
3,221934926,True,golden,1,11/11/2012 01:44:50,Other,1.000,Informative (Indirect),NaN,Hurricane #Sandy hits the Statue Of Liberty ht...,RT @ImJay_wbu: Hurricane #Sandy hits the Statu...,_k4typerry
4,221934927,False,finalized,3,11/10/2012 12:38:04,Informative (Indirect),1.000,NaN,NaN,Watch Hurricane #Sandy prowling the East Coast...,RT @NASA: Watch Hurricane #Sandy prowling the ...,_KieranJD_

In [4]:
main_df.drop(main_df.columns.difference(['_unit_id', 'text_no_rt','choose_one']), 1, inplace=True)

In [5]:
main_df.columns=["id","Informativeness","text"]
len(main_df)

1000

In [6]:
main_df=main_df[main_df["Informativeness"]!="Other"]
len(main_df)

839

In [7]:
### Keep only english tweets

def is_english(text):

    try:
          language = detect(text)
    except:
          #These will be removed
          print("This row throws and error:", text)
          return False;
    if(language=='en'):
      return True;
    else:
      return False;

main_df=main_df[main_df.apply(lambda x: is_english(x['text']), axis=1)]

In [8]:
len(main_df)

826

In [9]:
main_df['Informativeness']=main_df['Informativeness'].map(lambda x: 0 if(x=='Personal Only') else 1)

In [10]:
main_df.Informativeness.value_counts()

1    535
0    291
Name: Informativeness, dtype: int64

In [11]:
main_df.to_pickle("./../dataset5Cleaned.pkl")